*{
    margin: 0;
    padding: 0;
}
.Boxes{
    display: flex;
    gap: 3rem;
}
.Box img{
    max-height: 25vh;
    max-width: 20vw;
}
.Box p{
    margin-top: 0.6rem
}
.Box{
    border-radius: 2rem;
    border: 2px solid;
    transition: 1s transform ease;
}
.Box:hover{
    transform: scale(1.1);
}
.pop{
 background-color: white;
 border-bottom-left-radius: 2rem;
 border-bottom-right-radius: 2rem;
 color: black;
 padding: 1rem;
}   
